{% extends "../base.html" %}
{% block body %}
<section class="page-title bg-primary position-relative overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white font-tertiary">Blog</h1>
            </div>
        </div>
    </div>

    <img src="/public/images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">
    <img src="/public/images/illustrations/leaf-pink-round.svg" alt="illustrations" class="bg-shape-2">
    <img src="/public/images/illustrations/dots-cyan.svg" alt="illustrations" class="bg-shape-3">
    <img src="/public/images/illustrations/leaf-orange.svg" alt="illustrations" class="bg-shape-4">
    <img src="/public/images/illustrations/leaf-yellow.svg" alt="illustrations" class="bg-shape-5">
    <img src="/public/images/illustrations/dots-group-cyan.svg" alt="illustrations" class="bg-shape-6">
    <img src="/public/images/illustrations/leaf-cyan-lg.svg" alt="illustrations" class="bg-shape-7">
</section>
<section class="section">
    <div class="container">
        <div class="row">
            {% if articles %}
            {% for a in articles %}
            <div class="card mb-3" style="width: 100%;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{a.Cover}}" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{a.Title}}</h5>
                            <p class="card-text">{{a.Content}}</p>
                            <p class="card-text"><small class="text-muted">{{a.CreateTS | TimestampDisplay}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% endif %}
        </div>
    </div>
</section>
<script>
    $(function () {
        $('#nav_blog').addClass('active')
    })
</script>
{% endblock %}