{% extends "../base.html" %}
{% block body %}
<section class="page-title bg-primary position-relative overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white font-tertiary">Login</h1>
            </div>
        </div>
    </div>
    <img src="/public/images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">
    <img src="/public/images/illustrations/leaf-pink-round.svg" alt="illustrations" class="bg-shape-2">
    <img src="/public/images/illustrations/dots-cyan.svg" alt="illustrations" class="bg-shape-3">
    <img src="/public/images/illustrations/leaf-orange.svg" alt="illustrations" class="bg-shape-4">
    <img src="/public/images/illustrations/leaf-yellow.svg" alt="illustrations" class="bg-shape-5">
    <img src="/public/images/illustrations/dots-group-cyan.svg" alt="illustrations" class="bg-shape-6">
    <img src="/public/images/illustrations/leaf-cyan-lg.svg" alt="illustrations" class="bg-shape-7">
</section>
<section class="section section-on-footer" data-background="/public/images/backgrounds/bg-dots.png">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Login</h2>
            </div>
            <div class="col-lg-8 mx-auto">
                <div class="bg-white rounded text-center p-5 shadow-down">
                    <h4 class="mb-80">Login</h4>
                    <form action="#" method="POST" class="row">
                        <div class="col-md-6">
                            <input type="text" id="name" name="name" placeholder="UserName"
                                class="form-control px-0 mb-4">
                        </div>
                        <div class="col-md-6">
                            <input type="password" id="password" name="password" placeholder="password"
                                class="form-control px-0 mb-4">
                        </div>
                        <div class="col-lg-6 col-10 mx-auto">
                            <button class="btn btn-primary w-100">login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('#nav_blog').addClass('active')
    })

    function login() {
        $.post('/blog/create_article',
            $('#topic-form').serialize(),
            function (res) {
                if (res.code == 0) {
                    $('.small.modal').modal('show');
                    $('#message').text('操作成功');
                    $('#content').text('发布文章成功.');
                } else {
                    $('.small.modal').modal('show');
                    $('#message').text('操作失败');
                    $('#content').text('发表文章失败,错误: ' + res.message);
                }
            }
        )
    }
</script>
{% endblock %}