{% extends "base.html" %}
{% block body %}
<section class="page-title-alt bg-primary position-relative overflow-hidden">
    <div class=container>
        <div class=row>
            <div class=col-12>
                <h1 class="text-white font-tertiary">About</h1>
            </div>
        </div>
    </div><img src=/public/images/illustrations/page-title.png alt=illustrations class="bg-shape-1 w-100">
    <img src=/public/images/illustrations/dots-group-sm.svg alt=illustrations class=bg-shape-2>
    <img src=/public/images/illustrations/leaf-yellow.svg alt=illustrations class=bg-shape-3>
    <img src=/public/images/illustrations/leaf-orange.svg alt=illustrations class=bg-shape-4>
    <img src=/public/images/illustrations/dots-group-cyan.svg alt=illustrations class=bg-shape-5>
    <img src=/public/images/illustrations/leaf-cyan-lg.svg alt=illustrations class=bg-shape-6>
</section>
<section class="section pt-5">
    <div class=container>
        <div class=row>
            <div class=col-md-8>
                <p>{{app_desc}}</p>
            </div>
            <div class="col-md-4 text-center drag-lg-top">
                <div class="shadow-down mb-4"><img src=/public/images/about/antiphy.jpg alt=author
                        class="img-fluid w-100 rounded-lg border-thick border-white"></div>
                <h4>{{admin}}</h4>
            </div>
        </div>
    </div>
</section>
<section class=section>
    <div class=container>
        <div class="row justify-content-around">
            <div class="col-lg-12 text-center">
                <h2 class=section-title>Work Process</h2>
            </div>
            <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3"><img src=/public/images/icons/plan.png
                    class=mb-4 alt=icon>
                <h4 class=mb-4>Research and Plan</h4>
                <p>Research your requirement and set the plan.</p>
            </div>
            <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3"><img src=/public/images/icons/design.png
                    class=mb-4 alt=icon>
                <h4 class=mb-4>Design and Develop</h4>
                <p>Design according to you requirement and develop web app or mobile app.</p>
            </div>
            <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3"><img src=/public/images/icons/print.png
                    class=mb-4 alt=icon>
                <h4 class=mb-4>Deploy</h4>
                <p>You can chose to deploy by yourself or deploy and maintained by us.</p>
            </div>
        </div>
    </div>
</section>
<section class="section bg-cover" data-background=/public/images/backgrounds/team-bg.png>
    <div class=container>
        <div class=row>
            <div class="col-12 text-center">
                <h2 class=section-title>My Team</h2>
            </div>
            <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
                <div class="card text-center"><img src=/public/images/about/antiphy.jpg class=card-img-top>
                    <div class=card-body>
                        <h4 class=card-title>{{admin}}</h4>
                        <p class="text-light font-secondary">Project Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
                <div class="card text-center"><img src=/public/images/about/antiphy.jpg class=card-img-top>
                    <div class=card-body>
                        <h4 class=card-title>Me</h4>
                        <p class="text-light font-secondary">Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
                <div class="card text-center"><img src=/public/images/about/antiphy.jpg class=card-img-top>
                    <div class=card-body>
                        <h4 class=card-title>Sadly, only me :(</h4>
                        <p class="text-light font-secondary">Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=section>
    <div class=container>
        <div class=row>
            <div class="col-12 text-center">
                <h2 class=section-title>Partners</h2>
            </div>
        </div>
        <div class="client-logo-slider d-flex align-items-center"><a href=http://examplesite.com
                class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/favos.png style="height:75px;"></a>
            <span class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/antiphy.png style="height:75px;"></span>
            <a href=http://examplesite.com class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/favos.png style="height:75px;"></a>
            <span class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/antiphy.png style="height:75px;"></span>
            <a href=http://examplesite.com class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/favos.png style="height:75px;"></a>
            <span class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/antiphy.png style="height:75px;"></span>
            <a href=http://examplesite.com class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/favos.png style="height:75px;"></a>
            <span class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/antiphy.png style="height:75px;"></span>
            <a href=http://examplesite.com class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/favos.png style="height:75px;"></a>
            <span class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/antiphy.png style="height:75px;"></span></div>
    </div>
</section>
<script>
    $(function () {
        $('#nav_about').addClass('active')
    })
</script>
{% endblock %}