<!doctype html>
<html lang=en-us>

<head>
    <meta charset=utf-8>
    <title> {{title}} | {{app_name}}</title>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name=description content="{{app_desc}}">
    <style>
        :root {
            --primary-color: #41228e
        }
    </style>
    <link rel=stylesheet href=/public/plugins/bootstrap/bootstrap.min.css>
    <link rel=stylesheet href=/public/plugins/slick/slick.css>
    <link rel=stylesheet href=/public/plugins/themify-icons/themify-icons.css>
    <link rel=stylesheet href=/public/css/style.min.css integrity media=screen>
    <link rel="shortcut icon" href=/public/images/favicon.png type=image/x-icon>
    <link rel=icon href=/public/images/favicon.png type=image/x-icon>
    <script src=/public/plugins/jQuery/jquery.min.js></script>
</head>

<body>
    <div class=preloader></div>
    <header class="navigation fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class=navbar-brand href=/ /><img src=/public/images/logo.png></a>
            <button class=navbar-toggler type=button data-toggle=collapse data-target=#navigation
                aria-controls=navigation aria-expanded=false aria-label="Toggle navigation">
                <span class=navbar-toggler-icon></span></button>
            <div class="collapse navbar-collapse text-center" id=navigation>
                <ul class="navbar-nav ml-auto">
                    <li class=nav-item id=nav_home><a class=nav-link href= />Home</a></li>
                    <li class=nav-item id=nav_products><a class=nav-link href=/products>Products</a></li>
                    <li class=nav-item id=nav_blog><a class=nav-link href=/blog>Blog</a></li>
                    <li class=nav-item id=nav_about><a class=nav-link href=/about>About</a></li>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% block body %}
    {% endblock %}
    <footer class="bg-dark footer-section">
        <div class=section>
            <div class=container>
                <div class=row>
                    <div class=col-md-4>
                        <h5 class=text-light>Email</h5>
                        <p class="text-white paragraph-lg font-secondary">{{email}}</p>
                    </div>
                    <div class=col-md-4>
                        <h5 class=text-light>Phone</h5>
                        <p class="text-white paragraph-lg font-secondary">{{phone}}</p>
                    </div>
                    <div class=col-md-4>
                        <h5 class=text-light>Address</h5>
                        <p class="text-white paragraph-lg font-secondary">{{address}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top text-center border-dark py-5">
            <p class="mb-0 text-light">Copyrighht © 2020 <a href="https://github.com/antiphy/mememe">mememe</a>
            </p>
        </div>
    </footer>
    <script src=/public/plugins/bootstrap/bootstrap.min.js></script>
    <script src=/public/plugins/slick/slick.min.js></script>
    <script src=/public/plugins/shuffle/shuffle.min.js></script>
    <script src=/public/js/script.min.js></script>
    <script>(function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga'); ga('create', 'Your ID', 'auto'); ga('send', 'pageview');</script>
</body>

</html>