{% extends "base.html" %}
{% block body %}
<section class="hero-area bg-primary overflow-hidden" id=parallax>
    <div class=container>
        <div class=row>
            <div class="col-lg-11 mx-auto">
                <h1 class="text-white font-tertiary">{{app_name}}</h1>
            </div>
        </div>
    </div>
    <div class="layer-bg w-100"><img class="img-fluid w-100" src=/public/images/illustrations/leaf-bg.png alt=bg-shape>
    </div>
    <div class=layer id=l2><img src=/public/images/illustrations/dots-cyan.svg alt=bg-shape></div>
    <div class=layer id=l3><img src=/public/images/illustrations/leaf-orange.svg alt=bg-shape></div>
    <div class=layer id=l4><img src=/public/images/illustrations/dots-orange.svg alt=bg-shape></div>
    <div class=layer id=l5><img src=/public/images/illustrations/leaf-yellow.svg alt=bg-shape></div>
    <div class=layer id=l6><img src=/public/images/illustrations/leaf-cyan.svg alt=bg-shape></div>
    <div class=layer id=l7><img src=/public/images/illustrations/dots-group-orange.svg alt=bg-shape></div>
    <div class=layer id=l8><img src=/public/images/illustrations/leaf-pink-round.svg alt=bg-shape></div>
    <div class=layer id=l9><img src=/public/images/illustrations/leaf-cyan-2.svg alt=bg-shape></div>
    <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
        <li class=mb-3><a class=text-white href={{github}}><i class=ti-github></i></a></li>
        <li class=mb-3><a class=text-white href={{twitter}}><i class=ti-twitter-alt></i></a></li>
    </ul>
</section>
<section class=section>
    <div class=container>
        <div class=row>
            <div class="col-lg-10 mx-auto text-center">
                <p class="font-secondary lead text-dark">{{app_desc}}</p>
            </div>
        </div>
    </div>
</section>
<section class=section>
    <div class=container>
        <div class="row justify-content-around">
            <div class="col-lg-12 text-center">
                <h2 class=section-title>Products</h2>
            </div>
            <div class="col-lg-3 col-md-4 text-center"><img src=/public/images/partner_logo/favos.png alt=icon
                    style="width: 120px;height:120px;">
                <p class=mb-0>community web app with game system, two level cache(memory, leveldb, mysql), spam control.
                </p>
                <h4>favos</h4>
                <h6 class=text-light>community web app</h6>
            </div>
            <div class="col-lg-3 col-md-4 text-center"><img src=/public/images/partner_logo/antiphy.png alt=icon
                    style="width: 120px;height:120px;">
                <p class=mb-0>blog app with offical page host, memory cache render, simple ip blocker.</p>
                <h4>mememe</h4>
                <h6 class=text-light>blog app</h6>
            </div>
            <div class="col-lg-3 col-md-4 text-center"><img src=/public/images/experience/icon-1.png alt=icon
                    style="width: 120px;height:120px;">
                <p class=mb-0>mobile app for favos(under construction).</p>
                <h4>favos_app</h4>
                <h6 class=text-light>community app</h6>
            </div>
            <div class="col-lg-3 col-md-4 text-center"><img src=/public/images/experience/icon-2.png alt=icon
                    style="width: 120px;height:120px;">
                <p class=mb-0>log processor and log based event rollback(planning).</p>
                <h4>little-data(undone)</h4>
                <h6 class=text-light>log processor</h6>
            </div>
        </div>
    </div>
</section>
<section class=section>
    <div class=container>
        <div class=row>
            <div class="col-12 text-center">
                <h2 class=section-title>Services</h2>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card hover-shadow shadow">
                    <div class="card-body text-center px-4 py-5"><i class="ti-world icon mb-5 d-inline-block"></i>
                        <h4 class=mb-4>Web App Development</h4>
                        <p>web page based app development && web api development</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card active-bg-primary hover-shadow shadow">
                    <div class="card-body text-center px-4 py-5"><i class="ti-mobile icon mb-5 d-inline-block"></i>
                        <h4 class=mb-4>Mobile App Development</h4>
                        <p>cross platform mobile app development with flutter</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card hover-shadow shadow">
                    <div class="card-body text-center px-4 py-5"><i class="ti-panel icon mb-5 d-inline-block"></i>
                        <h4 class=mb-4>data processor</h4>
                        <p>general usage data processor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section bg-primary position-relative testimonial-bg-shapes">
    <div class=container>
        <div class=row>
            <div class="col-12 text-center">
                <h2 class="section-title text-white mb-5">Partners</h2>
            </div>
            <div class="col-lg-10 mx-auto testimonial-slider">
                <div class="text-center testimonial-content"><i
                        class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
                    <p class="text-white mb-4">favos web app is a well designed social community app with a game system.
                    </p><img class="img-fluid rounded-circle mb-4 d-inline-block" src=/public/images/about/antiphy.jpg
                        style="width: 100px;height: 100px;">
                    <h4 class=text-white>{{admin}}</h4>
                    <h6 class="text-light mb-4">favos admin</h6>
                </div>
            </div>
        </div>
    </div>
    <img src=/public/images/illustrations/dots-group-v.svg alt=bg-shape class="img-fluid bg-shape-1">
    <img src=/public/images/illustrations/leaf-orange.svg alt=bg-shape class="img-fluid bg-shape-2">
    <img src=/public/images/illustrations/dots-group-sm.svg alt=bg-shape class="img-fluid bg-shape-3">
    <img src=/public/images/illustrations/leaf-pink-round.svg alt=bg-shape class="img-fluid bg-shape-4">
    <img src=/public/images/illustrations/leaf-cyan.svg alt=bg-shape class="img-fluid bg-shape-5">
</section>
<section class="section pb-0">
    <div class=container>
        <div class="client-logo-slider d-flex align-items-center"><a href=http://examplesite.com
                class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/favos.png style="height:75px;"></a>
            <span class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/antiphy.png style="height:75px;"></span>
            <a href=http://examplesite.com class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/favos.png style="height:75px;"></a>
            <span class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/antiphy.png style="height:75px;"></span>
            <a href=http://examplesite.com class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/favos.png style="height:75px;"></a>
            <span class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/antiphy.png style="height:75px;"></span>
            <a href=http://examplesite.com class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/favos.png style="height:75px;"></a>
            <span class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/antiphy.png style="height:75px;"></span>
            <a href=http://examplesite.com class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/favos.png style="height:75px;"></a>
            <span class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
                    src=/public/images/partner_banner/antiphy.png style="height:75px;"></span></div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        $('#nav_home').addClass('active')
    })
</script>
{% endblock %}