{% extends "base.html" %}
{% block body %}
<section class="page-title bg-primary position-relative overflow-hidden">
    <div class=container>
        <div class=row>
            <div class="col-12 text-center">
                <h1 class="text-white font-tertiary">Products</h1>
            </div>
        </div>
    </div><img src=/public/images/illustrations/page-title.png alt=illustrations class="bg-shape-1 w-100">
    <img src=/public/images/illustrations/leaf-pink-round.svg alt=illustrations class=bg-shape-2>
    <img src=/public/images/illustrations/dots-cyan.svg alt=illustrations class=bg-shape-3>
    <img src=/public/images/illustrations/leaf-orange.svg alt=illustrations class=bg-shape-4>
    <img src=/public/images/illustrations/leaf-yellow.svg alt=illustrations class=bg-shape-5>
    <img src=/public/images/illustrations/dots-group-cyan.svg alt=illustrations class=bg-shape-6>
    <img src=/public/images/illustrations/leaf-cyan-lg.svg alt=illustrations class=bg-shape-7>
</section>
<section class=section>
    <div class=container>
        <div class="row mb-5">
            <div class=col-12>
                <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle=buttons>
                    <label class="btn btn-sm btn-primary active"><input type=radio name=shuffle-filter value=all
                            checked>All</label>
                    <label class="btn btn-sm btn-primary"><input type=radio name=shuffle-filter
                            value=design>Design</label>
                    <label class="btn btn-sm btn-primary"><input type=radio name=shuffle-filter
                            value=branding>Branding</label>
                    <label class="btn btn-sm btn-primary"><input type=radio name=shuffle-filter
                            value=illustration>Illustration</label></div>
            </div>
        </div>
        <div class="row shuffle-wrapper">
            <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups='["design"]'>
                <div class="position-relative rounded hover-wrapper"><img src=/public/images/portfolio/item-1.png
                        alt=portfolio-image class="img-fluid rounded w-100 d-block">
                    <div class=hover-overlay>
                        <div class=hover-content><a class="btn btn-light btn-sm" href=http://examplesite.com>view
                                project</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups='["branding"]'>
                <div class="position-relative rounded hover-wrapper"><img src=/public/images/portfolio/item-2.png
                        alt=portfolio-image class="img-fluid rounded w-100 d-block"></div>
            </div>
            <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups='["illustration"]'>
                <div class="position-relative rounded hover-wrapper"><img src=/public/images/portfolio/item-3.png
                        alt=portfolio-image class="img-fluid rounded w-100 d-block">
                    <div class=hover-overlay>
                        <div class=hover-content><a class="btn btn-light btn-sm" href=http://examplesite.com>view
                                project</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups='["design"]'>
                <div class="position-relative rounded hover-wrapper"><img src=/public/images/portfolio/item-5.png
                        alt=portfolio-image class="img-fluid rounded w-100 d-block"></div>
            </div>
            <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups='["illustration"]'>
                <div class="position-relative rounded hover-wrapper"><img src=/public/images/portfolio/item-8.png
                        alt=portfolio-image class="img-fluid rounded w-100 d-block">
                    <div class=hover-overlay>
                        <div class=hover-content><a class="btn btn-light btn-sm" href=http://examplesite.com>view
                                project</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups='["design"]'>
                <div class="position-relative rounded hover-wrapper"><img src=/public/images/portfolio/item-6.png
                        alt=portfolio-image class="img-fluid rounded w-100 d-block"></div>
            </div>
            <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups='["branding"]'>
                <div class="position-relative rounded hover-wrapper"><img src=/public/images/portfolio/item-1.png
                        alt=portfolio-image class="img-fluid rounded w-100 d-block">
                    <div class=hover-overlay>
                        <div class=hover-content><a class="btn btn-light btn-sm" href=http://examplesite.com>view
                                project</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups='["illustration"]'>
                <div class="position-relative rounded hover-wrapper"><img src=/public/images/portfolio/item-3.png
                        alt=portfolio-image class="img-fluid rounded w-100 d-block"></div>
            </div>
            <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups='["branding"]'>
                <div class="position-relative rounded hover-wrapper"><img src=/public/images/portfolio/item-7.png
                        alt=portfolio-image class="img-fluid rounded w-100 d-block">
                    <div class=hover-overlay>
                        <div class=hover-content><a class="btn btn-light btn-sm" href=http://examplesite.com>view
                                project</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('#nav_products').addClass('active')
    })
</script>
{% endblock %}